<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Contact</title>
  <link rel="stylesheet" href="css/contact.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
  <header class="section header">
    <div class="container">

    </div>
  </header>

  <nav class="section navigation">
    <div class="container">
      <div class="images-nav">
        <img src="./assets/images/navbar.png" alt=""/>
      </div>
      <ul class="menu-header">
        <a href=""><li class="item">Home</li></a>
        <li class="none-item"></li>
        <a href=""><li class="active-item">Contact</li></a>
      </ul>
      <h1 class="title">Contact With Us</h1>
      <img src="./assets/images/nav_contact.png" alt=""/>
    </div>
  </nav>

  <section class="section main">
    <div class="container">
      <div class="contact_form">
        <h3>We would love to hear from you.</h3>
        <p>If you’ve got great products your making or looking to work with us then drop us a line.</p>
        <form action="" method="POST">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Name <span>*</span></label>
            <input type="text" name="name" class="form-control" id="exampleFormControlInput1" required />
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Phone <span>*</span></label>
            <input type="text" name="phone" class="form-control" required />
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email <span>*</span></label>
            <input type="email" name="email" class="form-control" required />
          </div>
          <div class="text-area">
            <label for="exampleFormControlTextarea1" class="form-label-1">Yor Message</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" required></textarea>
          </div>
          <div class="button-submit">
            <button type="submit" class="Send">Send Message</button>
          </div>
        </form>
        <div class="contact-location">
          <h3>Our Store</h3>
          <h6 >8A, Ton That Thuyet, Nam Tu Liem, Ha Noi</h6>
          <h6 >Phone: +123 456 7890</h6>
          <h6 >Email: CodeOneMin@gmail.com</h6>
          <h3>Careers</h3>
          <h6>Instead of buying six things, one that you really like.</h6>
          <h3>Opening Hours:</h3>
          <h6>Monday to Saturday: 9am - 10pm</h6>
          <h6>Sundays: 10am - 6pm</h6>
        </div>
      </div>
      <div class="maps">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d931.0241522388769!2d105.78174952918305!3d21.028820099124903!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab86cece9ac1%3A0xa9bc04e04602dd85!2zRlBUIEFwdGVjaCBIw6AgTuG7mWkgLSBI4buHIFRo4buRbmcgxJDDoG8gVOG6oW8gTOG6rXAgVHLDrG5oIFZpw6puIFF14buRYyBU4bq_IChTaW5jZSAxOTk5KQ!5e0!3m2!1svi!2s!4v1669120746655!5m2!1svi!2s"
                width="1307" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
        </iframe>
      </div>


    </div>
  </section>

  <footer class="section footer">
    <div class="container">
      <div class="contact-icon">
        <div class="icon-img">
          <img src="./assets/images/service1.png" alt=""/>
        </div>
        <div class="content">
          <h6>Fast & Secure Delivery</h6>
          <p>Chưa nghĩ ra.</p>
        </div>
      </div>
      <div class="contact-icon">
        <div class="icon-img">
          <img src="./assets/images/service2.png" alt=""/>
        </div>
        <div class="content">
          <h6>Money Back Guarantee</h6>
          <p>Within 10 days.</p>
        </div>
      </div>
      <div class="contact-icon">
        <div class="icon-img">
          <img src="./assets/images/service3.png" alt=""/>
        </div>
        <div class="content">
          <h6>24 Hour Return Policy</h6>
          <p>Chưa nghĩ ra.</p>
        </div>
      </div>
      <div class="contact-icon">
        <div class="icon-img">
          <img src="./assets/images/service4.png" alt=""/>
        </div>
        <div class="content">
          <h6>Pro Quality Support</h6>
          <p>24/7 Live support.</p>
        </div>
      </div>
      <hr>
    </div>
  </footer>
  <div class="back-to-top">
    <button onclick="topFunction()" id="myBtn" title="Go to top"><i class='bx bxs-to-top'></i></button>
  </div>
</body>
</html>
